.todo-card {
    height: calc(88vh - 30px);
    width: calc(100vw - 30px);
    margin: 15px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    float: left;
}

.todo-card-header {
    height: 10vh;
    line-height: 10vh;
    font-size: x-large;
    width: calc(100vw - 30px);
    text-align: center;
    font-weight: bold;
}


.todo-card-main-border {
    height: calc(78vh - 30px);
    width: calc(100vw - 30px);
    box-shadow: var(--box-shadow-active);
    float: left;
}

.todo-card-main {
    margin: 5px;
    height: calc(78vh - 30px - 10px);
    width: calc(100vw - 30px - 10px);
    box-shadow: var(--box-shadow-active);
    float: left;
    overflow: auto;
}

.todo-item {
    margin: 10px;
    height: 10vh;
    width: calc(100vw - 30px - 10px - 20px);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    display: -webkit-flex; /* Safari */
}

.todo-info {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    width: calc(100% - 10vh);
    cursor: pointer;
}

.todo-status {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    width: 10vh;
    border-right: 1px solid var(--main-bg-color-1);
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
}

.todo-status.active {
    box-shadow: var(--box-shadow-active);
    color: lightgreen;
}